<!DOCTYPE html>

<%- include('../partials/head') %>

<body class="container">
  
  <%- include('../partials/header', {pages: 'Sobre'}) %>

  <main>

    <div class="jumbotran">
      <h1>Sobre Mim</h1>
      <p>Olá, Meu nome é Ryan e sou um estudante de Engenharia de Software.</p>
    </div>

  </main>

  <%- include('../partials/footer') %>

</body>

</html>